body{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-image: url(./imagens/pexels-caio-60783.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Cormorant Garamond', serif;
}
nav{
    height: 90px;
    font-size: 20px; 
}
#navbarSupportedContent{
    margin-left: 1100px;
}
.nav-item{
    margin-left: 50px;
}
.nav-item .nav-link:hover{
    background-color: white;
    border-radius: 50px;
}
section #form{
    width:500px;
    height:500px;
    background-color: rgba(32, 29, 29, 0.671);
    border-radius: 30px;
    margin: 0 auto;
    padding: 10px;
}
#form{
    text-align: center;
    font-size: 20px;
    
}
#form input{
    display: block;
    margin:0 auto;
    border-radius: 30px;
    background-color:rgba(32, 29, 29, 0.575);
    border-style: none;
    
    
}
#form label{
    color: white;
    border-radius: 10px;
    margin: 10px;
}
section #form button{
    background-color: rgba(255, 255, 255, 0.788);
    border-radius:30px;
    width: 250px;
    height: 50px;
    margin-top: 20px;
}
section #form button:hover{
    background-color:transparent;
    color:white; 

}